apiVersion: v1
kind: Secret
metadata:
  name: infisical-universal-auth
  namespace: irang
type: Opaque
stringData:
  clientId: "REPLACE_INFISICAL_MACHINE_IDENTITY_CLIENT_ID"
  clientSecret: "REPLACE_INFISICAL_MACHINE_IDENTITY_CLIENT_SECRET"
