volumes:
    nextcloud:
    db:

services:
    db:
        image: mariadb:12.1.2
        command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
        restart: unless-stopped
        ports:
            - 3306:3306
        volumes:
            - /mnt/hdd/data/nextcloud/db:/var/lib/mysql
        ulimits:
            memlock: "262144"
        env_file:
            - .env

    app:
        image: nextcloud:31.0.13-apache
        ports:
            - 18011:80
            - 18012:9000
        restart: unless-stopped
        depends_on:
            - db
        volumes:
            - /mnt/hdd/data/nextcloud/app:/var/www/html
        env_file:
            - .env
